@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}
body {
  font-family: 'Lato', sans-serif;
  margin: 0;
}

* {
  box-sizing: border-box;
}

header {
  background-image: url(../imgs/allgood.jpg);
  height: 500px;
  background-size: cover;
	background-blend-mode: multiply;
	background-color: grey;
	padding: 5%;
  position: relative;
  z-index: 2;
}
h1 {
  width: 100%;
  color: #eee;
  font-weight: 800;
  font-size: 3rem;
}
h2 {
  font-weight: 200;
  font-size: 1rem;
  text-align: left;
  letter-spacing: 1.25px;
  color: #fff;
  max-width: 470px;
}
h4 {
  font-weight: 400;
  font-size: 2rem;
  margin: 0;
	color: #fff;
}
h5 {
  display: none;
}
h6 {
  text-align: center;
  color: #fff;
  letter-spacing: 2px;
}
p {
  color: #fff;
  max-width: 520px;
  display: inline-block;
  letter-spacing: 1px;
}
a {
  text-decoration: none;
}
.navigation {
  margin-right: 10%;
}

.logo {
  max-width: 100px;
}

.inner {
  max-width: 1000px;
  margin: 0 auto;
  padding-top: 8rem;
  padding-left: 5%;
  padding-right: 5%;
  position: relative;
}
.socials {
  margin: auto;
  min-width: 4rem;
  max-width: 6rem;
  width: 16%;
  margin: 3%;
}

.buckets {
  height: 95%;
  background-color: darkseagreen;
  width: 30%;
  margin-left: 5px;
  margin-right: 5px;
  display: inline-block
}
.lightboxdes {
  margin-left: 15%;
  margin-right: 15%;
  background-color: white;
  padding: 5%;
}

.thumbnail {
  opacity: 1;
}

.thumbnail:hover {
  opacity: .5;
}

.lightbox {
	display: none;

	position: fixed;
	z-index: 999;
	width: 100%;
	height: 100%;
	text-align: center;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.9);
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 5%;
}

.lightbox img {
	max-width: 80%;
	max-height: 80%;
	margin-top: 2%;
}
.lightbox:target {
	outline: none;
	display: block;
}
.exit {
  float: left;
  transform: rotate(-90deg);
}
.bio {
  float: left;
}
.cntc {
  margin: 5%;
  min-width: 2rem;
  max-width: 6rem;
  width: 3rem;
  margin-left: 3%;
  margin-right: 3%;
}
.icons {
  text-align: center;
  padding-top: 3rem;
}
.iconsg {
  text-align: left;
  float: left;
}
.icon {
  z-index: 2;
  opacity: 1;
  display: inline;
}
.icon:hover {
  opacity: .5;
}

.backtop {
  position: fixed;
  z-index: 2;
  margin: 8%;
  right: 0px;
  opacity: .75;
}
.section1 {
  background-image: url(../imgs/5ever.gif);
  height: 250px;
	background-blend-mode: multiply;;;
	background-color: darkseagreen;
	position:relative;
  z-index:1;
  width:100%;
  background-attachment:fixed;    /* this keeps the background in place */
  background-size: cover;
  background-repeat:no-repeat;
}
.section2 {
  background-image: url(../imgs/section-h.jpg);
  height: 400px;
  background-size: cover;
	background-blend-mode: multiply;
	background-color: grey;
	padding: 5%;
  text-align: center;
}
.sectionf {
  background-image: url(../imgs/section-h.jpg);
  height: 300px;
  background-size: cover;
	background-blend-mode: multiply;
	background-color: grey;
	padding: 5%;
}

.section3 {
  background-image: url(../imgs/5ever.gif);
  height: 250px;
  background-size: cover;
  background-blend-mode: multiply;
  background-color: darkseagreen;
  position:relative;
  z-index:1;
  width:100%;
  background-attachment:fixed;    /* this keeps the background in place */
  background-size:100% 100%;
  background-repeat:no-repeat;
  padding: 5%;
}

.section4 {
  background-image: url(../imgs/section-j.jpg);
  height: 300px;
  background-size: cover;
	background-blend-mode: multiply;
	background-color: grey;
	padding: 5%;
}
.creds {
  background-color: darkseagreen;
  padding: 1px;
}
@media screen and (max-width: 768px) {

	h1 {
		  font-size: 2.5rem;
	}
  .cntc {
    width: 3rem;
  }
  .icons {
    padding-top: 5rem;
  }
  .iconsg {
    text-align: center;
    float: none;
  }
  .section1 {
    height: 250px;
    position: relative;
    width: 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: inherit;
  }
  .section2 {
    background-image: url(../imgs/section-h.jpg);
	  height: 400px;
		background-blend-mode: multiply;
		background-color: grey;
		padding: 5%;
  }

  .section3 {
    background-image: url(../imgs/5ever.gif);
    height: 250px;
    background-blend-mode: multiply;
    background-color: darkseagreen;
    position: relative;
    width: 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: inherit;
    padding: 5%;
  }
  .sectionf {
    background-image: url(../imgs/section-h.jpg);
	  height: 200px;
		background-blend-mode: multiply;
		background-color: grey;
		padding: 5%;
  }

}
@media screen and (max-width: 1080px) {
  .buckets {
    height: 26%;
    background-color: darkseagreen;
    width: 100%;
    margin-bottom: 1rem;
    margin-left: 0;
    display: flex;
  }

}
