@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}
body {
	  font-family: sans-serif;
    margin: 0;
}

* {
	  box-sizing: border-box;
}

header {
  height: 500px;
  background-image: url(../imgs/lefride.gif);
  background-blend-mode: multiply;
  background-size: 120% 100%;
  position: relative;
  z-index: 2;
  background-color: grey;
}


.navigation {
  margin-right: 10%;
}

.logo {
  max-width: 100px;
}

.inner {
  max-width: 1000px;
  margin: 0 auto;
  padding-top: 8rem;
  padding-left: 5%;
  padding-right: 5%;
  position: relative;
}
.icons {
  padding-top: 2rem;
}
.icon1 {
  z-index: 2;
  margin-left: 15%;
  max-width: 4rem;
  float: left;
  opacity: .5;
}
.icon1:hover {
  opacity: 1;
}
.icon2 {
  z-index: 2;
  margin-right: 15%;
  max-width: 4rem;
  float: right;
  opacity: .5;
}
.icon2:hover {
  opacity: 1;
}
.insta {
  width: 150%;
}
.vimeo {
  width: 150%;
}
h5 {
  display: none;
}
h1 {
	  width: 100%;
	  color: #eee;
	  font-weight: 800;
	  font-size: 3rem;
}
h2 {
  font-weight: 200;
  font-size: 1rem;
  text-align: left;
  letter-spacing: 1.25px;
  color: #fff;
  max-width: 440px;
  text-shadow: 2px 2px 6px #000, 2px 2px 6px #000, 0px 2px 0px #fff;
}
h3 {
  font-weight: 400;
  font-size: 2rem;
  margin: 0;
	color: #fff;
	text-shadow: 2px 2px 17px #000, 2px 2px 30px #000;
}
a {
  text-decoration: none;
}
.backtop {
  position: fixed;
  z-index: 2;
  margin: 8%;
  right: 0px;
  opacity: .75;
}
.section1 {
  background-image: url(../imgs/masthead.jpg);
  height: 250px;
	background-blend-mode: multiply;
	background-color: darkseagreen;
	position:relative;
  z-index:1;
  width:100%;
  background-attachment:fixed;    /* this keeps the background in place */
  background-size:100% 100%;
  background-repeat:no-repeat;
	padding: 5%;
}

.section2 {
  background-image: url(../imgs/section-h.jpg);
  height: 100px;
	background-blend-mode: multiply;
	background-color: grey;
	padding: 5%;
}
.sectionf {
  background-image: url(../imgs/section-h.jpg);
  height: 300px;
	background-blend-mode: multiply;
	background-color: grey;
	padding: 5%;
}
.bucket1 {
  background-color: darkseagreen;
  background-image: url(../imgs/section-g.jpg);
  background-blend-mode: multiply;
  width: 30%;
  height: 100%;
  float: left;
}
.bucket2 {
  background-color: darkseagreen;
  background-image: url(../imgs/section-g.jpg);
  background-blend-mode: multiply;
  width: 30%;
  height: 100%;
  float: left;
}
.bucket3 {
  background-color: darkseagreen;
  background-image: url(../imgs/section-g.jpg);
  background-blend-mode: multiply;
  width: 30%;
  height: 100%;
  float: left;
}
.buckets {
  margin: 1%;
}
.section3 {
    background-image: url(../imgs/5ever.gif);
    height: 250px;
    background-blend-mode: multiply;
    background-color: darkseagreen;
    position:relative;
    z-index:1;
    width:100%;
    background-attachment:fixed;    /* this keeps the background in place */
    background-size:100% 100%;
    background-repeat:no-repeat;
    padding: 5%;
}

.section4 {
    background-image: url(../imgs/section-j.jpg);
	  height: 400px;
		background-blend-mode: multiply;
		background-color: grey;
		padding: 5%;
}

@media screen and (max-width: 768px) {

	h1 {
		  font-size: 2.5rem;
	}
  .icons {
    margin-top: 3rem;
  }
  .icon1 {
    z-index: 2;
    margin-left: 15%;
    max-width: 4rem;
    float: left;
    opacity: .5;
  }
  .icon2 {
    z-index: 2;
    margin-right: 15%;
    max-width: 4rem;
    float: right;
    opacity: .5;
  }
  .insta {
    width: 100%;
  }
  .vimeo {
    width: 100%;
  }
  .section1 {
    height: 250px;
    background-blend-mode: multiply;
    background-color: darkseagreen;
    position: relative;
    width: 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: inherit;
    padding: 5%;
  }
  .section2 {
      background-image: url(../imgs/section-h.jpg);
  	  height: 400px;
  		background-blend-mode: multiply;
  		background-color: grey;
  		padding: 5%;
  }

  .bucket1 {
    background-color: darkseagreen;
    background-image: url(../imgs/section-g.jpg);
    background-blend-mode: multiply;
    width: 30%;
    height: 100%;
    float: left;
  }
  .bucket2 {
    background-color: darkseagreen;
    background-image: url(../imgs/section-g.jpg);
    background-blend-mode: multiply;
    width: 30%;
    height: 100%;
    float: left;
  }
  .bucket3 {
    background-color: darkseagreen;
    background-image: url(../imgs/section-g.jpg);
    background-blend-mode: multiply;
    width: 30%;
    height: 100%;
    float: left;
  }
  .buckets {
    margin: 1%;
  }
  .section3 {
    background-image: url(../imgs/5ever.gif);
    height: 250px;
    background-blend-mode: multiply;
    background-color: darkseagreen;
    position: relative;
    width: 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: inherit;
    padding: 5%;
  }
  .sectionf {
    background-image: url(../imgs/section-h.jpg);
	  height: 200px;
		background-blend-mode: multiply;
		background-color: grey;
		padding: 5%;
  }

}
